.carousel-caption {
background-color: lightblue;
  color:#1d4c7a;
  width: 100%;
  left: 0;
}

.alert-danger {
    margin-bottom: -5px;
    font-size: 13px;
   font-weight: bold;
}
.form-control{
    font-size: 13.5px;
}

.social-login .btn {
    height: 43px;
    width: 100%;
    color: #fff;
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
}

.btn-lg
{
    background: green;
}
.btn-gp {
    background: #dd4b32;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    margin-top: 10px;
    margin-left: 80px;
   max-width: 150px
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(221, 75, 57);
}
.btn-fb {
    background: #3b5998;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    margin-top: 10px;
    margin-left: 150px;
    max-width: 150px;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(59, 89, 152);
}
.btn-block{
margin-left: 100px ;
width: 50%;
margin-top: 10px;

}
.modal-footer{
margin-top: 5px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    max-width: 1200px;
}

.bd-placeholder-img{
    width: 70%;

}




.cover-container {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(work.jpeg) center no-repeat;
    background-size: cover;
    height: 800px;
    color: white;
}
.inner-container {

    color: black;
    font-weight: 800;
    position: relative;
    top: 35%;
}

.footer-container{
    padding-top: 22.5%;
    color:whitesmoke;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #626699, 0 0 40px #626699, 0 0 50px #626699, 0 0 60px #626699, 0 0 70px #626699;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #626699, 0 0 40px #626699, 0 0 50px #626699, 0 0 60px #626699, 0 0 70px #626699, 0 0 80px #626699;
  }
}

